<div class="input-container">
  <label>Filter: </label>
  <input
    placeholder="Search here"
    [(ngModel)]="filter"
    name="filter"
    id="filter"
    (input)="handleFilter()"
  />
</div>

<table *ngIf="!isSearch">
  <thead>
    <tr>
      <th>Categories</th>
    </tr>
  </thead>
  <tbody *ngFor="let item of categories">
    <tr>
      <td>{{ item }}</td>
    </tr>
  </tbody>
</table>

<table *ngIf="isSearch">
  <thead>
    <tr>
      <th>Categories Result</th>
    </tr>
  </thead>
  <tbody *ngFor="let item of filteredCategories">
    <tr>
      <td>{{ item }}</td>
    </tr>
  </tbody>
</table>

<router-outlet></router-outlet>
