<div class="container">
  <div class="left-col">
    <input
      type="text"
      name="number"
      [(ngModel)]="numberInput.value"
      autocomplete="off"
      (input)="inputCheck($event)"
      id="number"
    />
  </div>
  <div class="middle-col">
    <select name="funcName" id="func-name" [(ngModel)]="numberInput.funcName">
      <option value="isPrime">isPrime</option>
      <option value="isFibonacci">isFibonacci</option>
    </select>
  </div>
  <div class="right-col">{{ answer }}</div>
</div>

<router-outlet></router-outlet>
